# Ignore node_modules and package-lock.json
node_modules
package-lock

# Ignore dist and .env
/dist
.env

# Ignore everything else
/*/

# Allow the 'ReviewFeature' folder to be tracked
!/ReviewFeature
!/ReviewFeature/**
